<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package Name="Opure Gate D" Manufacturer="OpureDev" Version="0.4.0.0" UpgradeCode="8B744CA5-331B-450C-9E52-ADBE42F9A95C">
    <MajorUpgrade DowngradeErrorMessage="A newer version is already installed." />
    <MediaTemplate EmbedCab="yes" />
    <StandardDirectory Id="ProgramFiles64Folder">
      <Directory Id="INSTALLFOLDER" Name="Opure">
        <Component Id="DesktopExe" Guid="*" Bitness="always64">
          <File Source="..\..\..\artifacts\Staging\Desktop\Opure.Desktop.exe" KeyPath="yes" />
        </Component>
        <Directory Id="RUNTIMEFOLDER" Name="Runtime">
          <Component Id="RuntimeExe" Guid="*" Bitness="always64">
            <File Source="..\..\..\artifacts\Staging\Runtime\Opure.Runtime.exe" KeyPath="yes" />
          </Component>
        </Directory>
      </Directory>
    </StandardDirectory>
    <Feature Id="Main">
      <ComponentRef Id="DesktopExe" />
      <ComponentRef Id="RuntimeExe" />
    </Feature>
  </Package>
</Wix>
